---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a1d22996d5e2abc45e3e0e2d937019784a4e17b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1517511190'
      Etag:
      - W/"2144eeda8b18f3b46d4cc9fe132f7cbc"
      Last-Modified:
      - Thu, 01 Feb 2018 00:24:55 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 99899f07d9539dffdc0e
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '{"login":"GabrielAfflitto","id":26525033,"avatar_url":"https://avatars0.githubusercontent.com/u/26525033?v=4","gravatar_id":"","url":"https://api.github.com/users/GabrielAfflitto","html_url":"https://github.com/GabrielAfflitto","followers_url":"https://api.github.com/users/GabrielAfflitto/followers","following_url":"https://api.github.com/users/GabrielAfflitto/following{/other_user}","gists_url":"https://api.github.com/users/GabrielAfflitto/gists{/gist_id}","starred_url":"https://api.github.com/users/GabrielAfflitto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/GabrielAfflitto/subscriptions","organizations_url":"https://api.github.com/users/GabrielAfflitto/orgs","repos_url":"https://api.github.com/users/GabrielAfflitto/repos","events_url":"https://api.github.com/users/GabrielAfflitto/events{/privacy}","received_events_url":"https://api.github.com/users/GabrielAfflitto/received_events","type":"User","site_admin":false,"name":"Gabriel
        Afflitto","company":"School of hard knox","blog":"","location":"Denver, CO","email":"gafflitto92@gmail.com","hireable":null,"bio":"I
        am a Back End Engineering student at Turing School of Software and Design.","public_repos":45,"public_gists":2,"followers":1,"following":1,"created_at":"2017-03-19T15:54:06Z","updated_at":"2018-02-01T00:24:55Z","private_gists":7,"total_private_repos":0,"owned_private_repos":0,"disk_usage":383,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 01 Feb 2018 18:33:30 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a1d22996d5e2abc45e3e0e2d937019784a4e17b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1517511190'
      Etag:
      - W/"c04786e04411c9009fd2ddd1ba591cb7"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 99899f07d9539dffdc0e
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: ASCII-8BIT
      string: '[{"id":65204261,"name":"treebook","full_name":"nico24687/treebook","owner":{"login":"nico24687","id":16985874,"avatar_url":"https://avatars1.githubusercontent.com/u/16985874?v=4","gravatar_id":"","url":"https://api.github.com/users/nico24687","html_url":"https://github.com/nico24687","followers_url":"https://api.github.com/users/nico24687/followers","following_url":"https://api.github.com/users/nico24687/following{/other_user}","gists_url":"https://api.github.com/users/nico24687/gists{/gist_id}","starred_url":"https://api.github.com/users/nico24687/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nico24687/subscriptions","organizations_url":"https://api.github.com/users/nico24687/orgs","repos_url":"https://api.github.com/users/nico24687/repos","events_url":"https://api.github.com/users/nico24687/events{/privacy}","received_events_url":"https://api.github.com/users/nico24687/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/nico24687/treebook","description":null,"fork":false,"url":"https://api.github.com/repos/nico24687/treebook","forks_url":"https://api.github.com/repos/nico24687/treebook/forks","keys_url":"https://api.github.com/repos/nico24687/treebook/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nico24687/treebook/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nico24687/treebook/teams","hooks_url":"https://api.github.com/repos/nico24687/treebook/hooks","issue_events_url":"https://api.github.com/repos/nico24687/treebook/issues/events{/number}","events_url":"https://api.github.com/repos/nico24687/treebook/events","assignees_url":"https://api.github.com/repos/nico24687/treebook/assignees{/user}","branches_url":"https://api.github.com/repos/nico24687/treebook/branches{/branch}","tags_url":"https://api.github.com/repos/nico24687/treebook/tags","blobs_url":"https://api.github.com/repos/nico24687/treebook/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nico24687/treebook/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nico24687/treebook/git/refs{/sha}","trees_url":"https://api.github.com/repos/nico24687/treebook/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nico24687/treebook/statuses/{sha}","languages_url":"https://api.github.com/repos/nico24687/treebook/languages","stargazers_url":"https://api.github.com/repos/nico24687/treebook/stargazers","contributors_url":"https://api.github.com/repos/nico24687/treebook/contributors","subscribers_url":"https://api.github.com/repos/nico24687/treebook/subscribers","subscription_url":"https://api.github.com/repos/nico24687/treebook/subscription","commits_url":"https://api.github.com/repos/nico24687/treebook/commits{/sha}","git_commits_url":"https://api.github.com/repos/nico24687/treebook/git/commits{/sha}","comments_url":"https://api.github.com/repos/nico24687/treebook/comments{/number}","issue_comment_url":"https://api.github.com/repos/nico24687/treebook/issues/comments{/number}","contents_url":"https://api.github.com/repos/nico24687/treebook/contents/{+path}","compare_url":"https://api.github.com/repos/nico24687/treebook/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nico24687/treebook/merges","archive_url":"https://api.github.com/repos/nico24687/treebook/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nico24687/treebook/downloads","issues_url":"https://api.github.com/repos/nico24687/treebook/issues{/number}","pulls_url":"https://api.github.com/repos/nico24687/treebook/pulls{/number}","milestones_url":"https://api.github.com/repos/nico24687/treebook/milestones{/number}","notifications_url":"https://api.github.com/repos/nico24687/treebook/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nico24687/treebook/labels{/name}","releases_url":"https://api.github.com/repos/nico24687/treebook/releases{/id}","deployments_url":"https://api.github.com/repos/nico24687/treebook/deployments","created_at":"2016-08-08T12:56:38Z","updated_at":"2018-01-31T21:51:19Z","pushed_at":"2016-08-10T17:56:32Z","git_url":"git://github.com/nico24687/treebook.git","ssh_url":"git@github.com:nico24687/treebook.git","clone_url":"https://github.com/nico24687/treebook.git","svn_url":"https://github.com/nico24687/treebook","homepage":null,"size":102,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Thu, 01 Feb 2018 18:33:32 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a1d22996d5e2abc45e3e0e2d937019784a4e17b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1517511190'
      Etag:
      - '"b5c1664401feebddf7af8fd08a83ad6e"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 99899f07d9539dffdc0e
      X-Github-Media-Type:
      - github.cloak-preview
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 01 Feb 2018 18:33:32 GMT
- request:
    method: get
    uri: https://api.github.com/search/commits?per_page=10&q=committer:GabrielAfflitto%20committer-date:%3E2018-01-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a1d22996d5e2abc45e3e0e2d937019784a4e17b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1517510072'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 99899f07d9539dffdc0e
      X-Github-Media-Type:
      - github.cloak-preview
      Link:
      - <https://api.github.com/search/commits?per_page=10&q=committer%3AGabrielAfflitto+committer-date%3A%3E2018-01-25&page=2>;
        rel="next", <https://api.github.com/search/commits?per_page=10&q=committer%3AGabrielAfflitto+committer-date%3A%3E2018-01-25&page=5>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":46,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/GabrielAfflitto/house-salad/commits/978a1e595a85d5000e41641ebc589728be8cbe4a","sha":"978a1e595a85d5000e41641ebc589728be8cbe4a","html_url":"https://github.com/GabrielAfflitto/house-salad/commit/978a1e595a85d5000e41641ebc589728be8cbe4a","comments_url":"https://api.github.com/repos/GabrielAfflitto/house-salad/commits/978a1e595a85d5000e41641ebc589728be8cbe4a/comments","commit":{"url":"https://api.github.com/repos/GabrielAfflitto/house-salad/git/commits/978a1e595a85d5000e41641ebc589728be8cbe4a","author":{"date":"2018-01-30T14:10:34.000-07:00","name":"GabrielAfflitto","email":"gafflitto92@gmail.com"},"committer":{"date":"2018-01-30T14:10:34.000-07:00","name":"GabrielAfflitto","email":"gafflitto92@gmail.com"},"message":"added
        model and view for search","tree":{"url":"https://api.github.com/repos/GabrielAfflitto/house-salad/git/trees/a24202a6f23bdae5239e364300d2419fd2cfda0f","sha":"a24202a6f23bdae5239e364300d2419fd2cfda0f"},"comment_count":0},"author":{"login":"GabrielAfflitto","id":26525033,"avatar_url":"https://avatars0.githubusercontent.com/u/26525033?v=4","gravatar_id":"","url":"https://api.github.com/users/GabrielAfflitto","html_url":"https://github.com/GabrielAfflitto","followers_url":"https://api.github.com/users/GabrielAfflitto/followers","following_url":"https://api.github.com/users/GabrielAfflitto/following{/other_user}","gists_url":"https://api.github.com/users/GabrielAfflitto/gists{/gist_id}","starred_url":"https://api[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100&type=owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a1d22996d5e2abc45e3e0e2d937019784a4e17b2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Res[...]
[...]
